.close-button {
  background-color: black;
  color: white;
  position: absolute;
  top: 15px;
  right: 15px;
  font-family: Arial;
  font-size: 20px;
  width: 45px;
  height: 45px;
  border-radius: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}


.bottom-right {
  background-color: gray;
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 320px;
  height: 180px;
}

.bottom-right1 {
  background-color: gray;
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 320px;
  height: 180px;
}

.close-button1 {
  background-color: black;
  color: white;
  position: absolute;
  top: -18px;
  left: -18px;
  font-family: Arial;
  font-size: 20px;
  width: 45px;
  height: 45px;
  border-radius: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}



.bottom-right2 {
  background-color: gray;
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 320px;
  height: 180px;
}

.close-button2 {
  background-color: black;
  color: white;
  position: absolute;
  top: -18px;
  left: -18px;
  font-family: Arial;
  font-size: 20px;
  width: 45px;
  height: 45px;
  border-radius: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.video-time {
  background-color: black;
  color: white;
  position: absolute;
  bottom: 10px;
  right: 10px;
  font-family: Arial;
  font-size: 18px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
}

.product-container {
  position: relative;
  display: inline-block;
}

.product-image {
  width: 300px;
  height: 300px;
  object-fit: cover;
}

.promotion {
  position: absolute;
  top: 10px;
  right: 0px;
  background-color: black;
  color: white;
  font-family: Arial;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 12px;
  padding-right: 12px;
}


.product-container1 {
  position: relative;
  display: inline-block;
}

.product-image1 {
  width: 300px;
  height: 300px;
  object-fit: cover;
}

.promotion1 {
  position: absolute;
  top: 10px;
  right: 0px;
  background-color: black;
  color: white;
  font-family: Arial;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 12px;
  padding-right: 12px;
}

.bottom-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 80px;
  background-color: rgba(255, 255, 255, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
}

.add-to-cart-button {
  background-color: white;
  border-width: 1px;
  border-style: solid;
  border-color: black;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 15px;
  padding-right: 15px;
}