.flex{
    display: flex;
    align-items: center;
}

.blue{
    background-color: rgb(92, 160, 218);
    width: 200px;
}

.red{
    background-color: red;
    width: 75px;
}

.flex1{
     display: flex;
    flex-direction: row;
}
.blue1{
    background-color: rgb(92, 160, 218);
    width: 50px;
}

.red1{
    background-color: red;
    flex: 1;
}
.blue2{
    background-color: rgb(92, 160, 218);
    width: 75px;
}

.flex3{
    display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.item1,.item2,.item3,.item4{
    background-color: red;
}


.flex4{
display: flex;
  justify-content:space-between;
  border: solid;
  height: 50px;
  align-items: center;
}

.item1,.item2{
    background-color: red;
      height: 20px;
}

.flex5{
    display: flex;
    flex-direction: column;
    border: solid;
     width: 500px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(239, 201, 201);
    border-radius: 6px;
}

.divdesign{
    display: flex;
    justify-content: space-between;
     padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 12px;
  padding-right: 12px;
}

/* .text{
    width: 200px;
    height: 33.3px;
    padding-top: 2%;
    padding-left: 5%;
} */

.notfication{
background-color: rgb(49, 109, 245);
  color: white;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 20px;
  font-size: 14px;
  font-weight: bold;
}

.flexsearch{
    display: flex;
    justify-content: space-between;
    background-color: #4d114d;
    height: 50px;
    align-items: center;
    color: white;
}
.googletext{
    border-radius: 30px;
    border: none;
    border-width:1px;
    font-size: 13px;
    width: 500px;
    height: 30px;
    box-shadow: 0 1px 5px rgba(0, 0, 0.25, 0.55);
    padding-left: 2%;
}

.download{
    height: 30px;
    border-color: white;
    border: solid;
    border-width: 1px;
    background-color: #4d114d;
    color: white;
    margin-right:13px;
}

.Home{
    margin-left:13px;
}


.flexcat{
    display:flex;
     align-items: center;
    margin-bottom: 20px;
    flex-direction: row;
}
.image{
height: 50px;
  width: 50px;
  object-fit: cover;
  border-radius: 25px;
  margin-right: 15px;
}

.catext{
      width: 200px;
}

.name{
     font-weight: bold;
  margin-bottom: 3px;
}

.animal{
     color: rgb(121, 117, 117);
  margin-bottom: 5px;
}

.category{
     color: rgb(121, 117, 117);
  font-size: 14px;
}
.follow{
     background-color: rgb(29, 155, 240);
  color: white;
  border: none;
  font-size: 16px;
  font-weight: bold;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 4px;
  cursor: pointer;
}