.see{
    background-color: black;
  color: white;
  border: none;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 12px;
  padding-right: 12px;
  cursor: pointer;
  transition: opacity 0.15s;
    

}
.see:hover {
  opacity: 0.8;
}